body {
	background-color: Gainsboro;
	font-family: "Times New Roman";
}

/* test style for test button */
#headerButton {
  width: 100px;
}

#button {
	width: 100px
}
#logoimage {
  width: 100px;
}
/* style to add better image for character creator*/
input #createButton {

background:url("/.buttons/CreateButton.png");
width: 100px;

}
input #loginButton {

background:url("/.buttons/LogButton.png");
width: 100px;

}
