#ghlink{
  background-image: url(images/GHButton.png);
}

#homelink{
  background-image: url(images/HomeButton.png);
}

#acclink{
  background-image: url(images/AccButton.png);
}

#aboutlink{
  background-image: url(images/AboutButton.png);
}
