body {
	background-color: darkgrey;
}

@font-face {
    font-family: 'montserratthin_italic';
    src: url('gontserrat-thinitalic-webfont.woff2') format('woff2'),
         url('gontserrat-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.indented {
	padding-left: 20px;
}


h1 {
	color: navy;
	font-weight: heavy;
	font-style: oblique;
	border-bottom: 2px solid navy;
	font-family: 'montserratthin_italic';
}

h2 {
	font-family: 'montserratthin_italic';
	text-decoration: underline;
}

p {
	font-family: 'montserratthin_italic';
	font-weight: bold;
}

li {
	display: inline;
}

