body {
	background-color: darkgrey;
}

h1 {
	color: navy;
	font-weight: bold;
	font-style: oblique;
}

h2 {
	color: navy;
	border-bottom: 4px solid navy;
	margin-left: 10px;
}

h3 {
	color: navy;
	border-bottom: 2px solid grey;
	padding: 10px;
	margin: 10px;
}

p {
	padding: 10px;
	margin: 5px;
}
	

div {
	margin-top: 20px;
}